html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}
/* Admin Menu */

#admin-menu {
    position: fixed;
    z-index: 0;
    float: left;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    width: 260px;
    min-height: 100vh;
    height: auto;
    background: #555555;
    padding: 0px;
    color: #fff;
    overflow: hidden;
}

#admin-menu-inner {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: 10px 10px 10px 20px;
}

#admin-menu .link {
    color: rgba(255, 255, 255, 0.6);
    margin: 0px;
}

#admin-menu .link:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

#admin-menu .signout {
    position: absolute;
    top: 10px;
    right: 10px;
}

#admin-menu a {
    color: rgba(255, 255, 255, 0.4);
}

#admin-menu a:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

#admin-menu .menu-label {
    font-size: 12px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 4px;
    margin-top: 15px;
}

#admin-menu input,
#admin-menu textarea,
#admin-menu select {
    width: 90%;
    max-width: 90%;
    margin: 0px auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
}

#admin-menu input:focus,
#admin-menu textarea:focus {
    background-color: #fff;
    border: 1px solid #ffffff;
    color: #333;
}

#admin-menu .menu-section {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
    line-height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#admin-menu .menu-smalltext {
    font-size: 11px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

#admin-menu .menu-section .logo {
    max-height: 80px;
    max-width: 80%;
}

#admin-menu .theme-arrow {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.7);
}

#admin-menu .theme-arrow:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}
/* Modals */

#modal-background {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 9000;
}

#modal-background a:hover {
    cursor: pointer;
}

#modal-welcome,
#modal-popup,
#modal-images {
    position: fixed;
    z-index: 9001;
    left: 0;
    right: 0;
    top: 40px;
    margin: 0px auto;
    padding: 25px 20px;
    width: 90%;
    max-width: 600px;
    min-height: 400px;
    overflow: hidden;
    background: #ffffff;
    color: #444444;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.35);
}

#modal-welcome img {
    max-width: 150px;
    max-height: 125px;
}

#modal-welcome h1 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
}

#modal-welcome table {
    max-width: 75%;
    margin: 0px auto;
    border: none;
}

#modal-welcome td {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: left;
    vertical-align: middle;
    border: none;
}

#modal-welcome td .ion-gear-a {
    vertical-align: middle;
    font-size: 26px;
    line-height: 5px;
    margin: 0px 0px 0px 5px;
    color: rgba(0, 0, 0, 0.35);
}

#modal-welcome td .ion-gear-a:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.55);
}

#modal-welcome button {
    background: #ff746c;
}

#modal-images p {
    text-align: center;
    font-weight: 400;
}

#modal-images #image-results {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    margin: 0px auto 20px auto;
    height: 300px;
    background: #f6f6f6;
    border: 1px solid #e9e9e9;
    padding: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#modal-images .servant-image-container {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0px
}

.servant-image {
    max-width: 75%;
    max-height: 150px;
    background: #ffffff;
    padding: 4px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

#modal-images .servant-image:hover {
    cursor: pointer;
}

#modal-popup #popup-header {
    font-size: 35px;
    font-weight: 400;
    margin: 0px auto 0px auto;
    width: 80%;
}

#modal-popup #popup-body {
    font-size: 20px;
    font-weight: 400;
    margin: 0px auto 10px auto;
    width: 80%;
}

#modal-popup form {
    max-width: 70%;
    margin: 30px auto;
    text-align: center;
}

#modal-popup input {
    margin: 0px 0px 8px 0px;
    text-align: center;
}

#modal-popup #form-submit {
    margin-top: 10px;
    font-size: 18px!important;
    padding: 14px 30px!important;
}
/* Vendee Core Styles */

#vendee-container {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
}

.menu-link {
    position: relative;
    z-index: 1000;
    top: -5px;
    left: 0px;
    font-size: 50px
}

.menu-link:hover {
    cursor: pointer;
}
/*Product Slider Styles*/

#showcase-slider-container {
    position: relative;
    padding-top: 25px;
}

#next-product {
    position: absolute;
    top: 40%;
    right: -25px;
    font-size: 30px;
}

#prev-product {
    position: absolute;
    top: 40%;
    left: -25px;
    font-size: 30px;
}

#category-select-container {
    position: absolute;
    top: 75px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 200px;
}

#products-container {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0px auto;
}

.product {
    position: relative;
    display: block;
    width: 100%;
    height: 600px;
    padding: 10px;
    margin: 10px 20px;
    background: #ffffff;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.product .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product .name {
    font-size: 25px;
    text-align: center;
}

.product .price {
    font-size: 16px;
    text-align: center;
}

#page-container {
    position: relative;
    height: 100%;
}

#product-slider {
    position: relative;
    margin-top: 50px;
    width: 100%;
}
/* Vendee Themes */

.theme-white {
    background: #ffffff;
}

.theme-white a {
    color: rgba(0, 0, 0, 0.3);
}

.theme-white a:hover {
    color: rgba(0, 0, 0, 0.5);
}

